<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <style></style>
  </head>
  <body>
    <h1>국밥이 여행하는 곳</h1>
    <button type="button" class="btn btn-light" id="sign_in">로그인</button>

    <div id="postList"></div>

    <script>
      // window.location.href = `/api/newsfeed`;
      const options = {
        method: "GET",
      };
      const url = "http://localhost:6100/api/newsfeed";
      async function forNewsfeed() {
        return fetch(url, options)
          .then((response) => {
            if (response.ok === false) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }

            return response.json();
          })
          .catch((error) => {
            console.error(error);
            throw error;
          });
      }
      forNewsfeed().then((data) => {
        const posts = data.data;
        let temp_html = "";

        posts.forEach((posts) => {
          const postId = posts.postId;
          const title = posts.title;
          const author = posts.author;
          const createdAt = posts.createdAt;

          temp_html += `
                              <div class="col">
                              <div class="card" type = "Button" class = "travelPosts" post_id = ${postId} >
                              <div class="card-img-top" alt="newsfeed contents">
                              <div class= "card-body" >
                                  <h5 class="card-title" style = "font-weight: bold; font-size: 195%">${title}</h5>
                                  <p class="card-text" style = "font-size: 140%">${author}</p>
                                  <p class="card-text" style = "font-weight: bold; font-size: 160%; color: yellow;"">date: ${createdAt}</p>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
                              `;
        });
        document.getElementById("postList").innerHTML = temp_html;
      });
      //newsfeed에서 게시물 클릭하면 해당 게시물의 postId에 해당하는 post가 post.ejs에 할당되어 웹페이지에 할당되도록 해야 함
      document.getElementById("postList").addEventListener("click", () => {
        //카드 클래스 요소 중 가장 가까운 카드 클래스로 감(즉, 자기 자신)
        const post = event.target.closest(".card");
        if (post) {
          //getAttribute는 속성을 가져와주는 API
          const postId = post.getAttribute("post_id");
          window.location.href = `./view_the_post/${postId}`;
        }
      });
      //로그인 페이지로 이동
      document.getElementById("sign_in").addEventListener("click", () => {
        window.location.href = "http://localhost:6100/login";
      });
    </script>
  </body>

  <script></script>
</html>
