<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style></style>
  </head>
  <body>
    <div id="message"><%= message %></div>

    <script>
      //프론트엔드 구축할거면 여기 prompt 들어가서 삭제 성공 message 띄워야 함
      window.location.href = `/api/postView/<%= path %>`;
    </script>
  </body>

  <script></script>
</html>
