<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <style></style>
</head>

<body>
  <h1>국밥이 여행하는 곳-프로필</h1>
  <div id="profileList"></div>

  <script>
    const userProfile = window.location.pathname.split("/")[2];

    const options = {
      method: "GET",
    };

    async function forProfile(url) {
      return fetch(url, options)
        .then((response) => {
          if (response.ok === false) {
            console.log("response???", response);
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          return response.json();
        })
        .catch((error) => {
          console.error(error);
          throw error;
        });
    }

    const profileUrl = `http://localhost:6100/api/profile/${userProfile}`;

    forProfile(profileUrl).then((data) => {
      const profiles = data.data;
      let temp_html = "";

      const userId = profiles.userId;
      const nickname = profiles.nickname;
      const profileImage = profiles.profileImage;
      const age = profiles.age;
      const introduction = profiles.introduction;
      const createdAt = profiles.createdAt;
      const updatedAt = profiles.updatedAt;

      const photo = `<img src = "http://localhost:6100/${profileImage}" style = "width: 250px; height: 200px">`;

      temp_html += `
                              <div class="col">
                              <div class="card" type = "Button" postId = "${userId}" >
                                
                                <button class="follow" type="Button" id="follow">팔로우하기</button>
                              
                                <div class="card-img-top">${photo}</div>
                              <div class= "card-body" >
                                  <h5 class="card-title" style = "font-weight: bold; font-size: 195%">${nickname}</h5>
                                  <h5>나이 : ${age}</h5>
                                  <p class="card-text" style = "font-size: 140%">${introduction}</p>
                                  <p class="card-text" style = "font-weight: bold; font-size: 160%; color: yellow;"">date: ${createdAt}</p>
                                  </div>
                                  </div>
                                  </div>
                              `;
      document.getElementById("profileList").innerHTML = temp_html;

      document.getElementById("follow").addEventListener("click", () => {
        const url = `http://localhost:6100/api/profile/${userProfile}/follow`;

        const dataInfo = {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          }
        }

        fetch(url, dataInfo).then((response) => {
          try {
            if (response.ok === false) {
              throw new Error();
            }

          } catch (error) {
            console.error(error);
          }
        });
      });
    });
  </script>
</body>

</html>